.modal-wrapper{
    .list-menu{
        display: flex;
        flex-direction: column;

        .option-list{
            display: flex;
            justify-content: space-between;
            margin: 15px 0 0 0;
            padding: 10px 10px 10px 5px;
            border-bottom: 1px solid #122A4E;
        }
    }

    .ordered-list{
        margin-top: 50px;
        border-top: 1px solid #122A4E;

        .cart-items{
            display: flex;
            justify-content: space-between;

            .cart-button{
                margin: 0 5px;
            }
        }
    }

    .cart-footer-detail {
        margin-top: 50px;
        border-top: 1px solid #122A4E;
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
    }
    .footer-button {
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
        
        .process-button{
            padding: 10px 15px;
            border: 1px solid #122A4E;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}