* {
    box-sizing: border-box;
}

.group {
    position: relative;

    .form-group{
        &.error{
            input{
                border: 1px solid #DA3D26;
                border-radius: 3px;
            }

            input:focus~label,
            input:valid~label {
                top: -20px;
                font-size: 14px;
                color: #DA3D26;
            }

            input:focus~.bar:before,
            input:focus~.bar:after {
                width: 50%;
                background: #DA3D26;
            }
        }

        input {
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            width: 100%;
            display: block;
            border: none;
            border-bottom: 1px solid #757575;

            &.date::-webkit-datetime-edit{color: transparent;}
            &.date:focus::-webkit-datetime-edit{color: #000;}
            &.date:valid::-webkit-datetime-edit{color: #000;}
            &.date:read-only::-webkit-datetime-edit{color: #000;}
    
            &:focus {
                outline: none;
            }
        }

        label {
            color: #999;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
        }
    
        /* active state */
        input:focus~label,
        input:valid~label,
        input:read-only~label {
            top: -20px;
            font-size: 14px;
            color: #5264AE;
        }

        input:valid~.bar{
            background: #5264ae;
        }
    
        .bar {
            position: relative;
            display: block;
            width: 100%;

            &.error{
                &::before,
                &::after {
                    content: '';
                    height: 2px;
                    width: 0;
                    bottom: 1px;
                    position: absolute;
                    background: #DA3D26;
                    transition: .2s ease all;
                    -moz-transition: 0.2s ease all;
                    -webkit-transition: 0.2s ease all;
                }
        
                &::before {
                    left: 50%;
                }
        
                &::after {
                    right: 50%;
                }
            }
            
            &::before,
            &::after {
                content: '';
                height: 2px;
                width: 0;
                bottom: 1px;
                position: absolute;
                transition: .2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }
    
            &::before {
                left: 50%;
            }
    
            &::after {
                right: 50%;
            }
        }
    
        input:focus~.bar:before,
        input:focus~.bar:after {
            width: 50%;
            background: #5264ae;
        }
    }
}