.nav-user-order{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 1.3rem;
    font-size: 1.3rem;

    .nav-order{
        cursor: pointer;
        margin: 0 3rem;
    }
}