.list-wrapper{
    width: 75%;
    height: 75vh;
    margin: 4.5rem auto;
    overflow: hidden;
    overflow-y: auto;

    .item-cart{
        margin: .8rem 0;
        border: 1px solid #122A4E;
        border-radius: .3rem;
       
        .item-detail{
            display: flex;
            flex-direction: column;
        }
    }
}